.woocommerce-cart {
	
	main {
		
		article {
			
			h1 {
				margin-top: 0;
			}
			
			.woocommerce {
				
				.woocommerce-info, .woocommerce-message, .woocommerce-error {
					
					border-top-color: black;
					border: 1px solid black;
					border-top-width: 3px;
					
					&:before {
						color: black;
					}
				}
			}
			
			.cart {
				
				.cart_item {
					
					.product-remove {
						
						.remove {
							margin: auto;
							display: block;
							color: transparent !important;
							border-radius: 0;
							background-image: url(assets/img/close-red.svg);
							background-size: 100%;
							background-position: center center;
							opacity: .5;
							
							&:hover {
								background-color: transparent;
								opacity: 1;
							}
						}
					}
					
					.product-thumbnail {
						
						img {
							width: 300px;
							display: block;
							margin: 20px auto;
						}
					}
					
					.quantity {
						
						.qty {
							display: block;
							margin: auto;
						}
					}
				}
				
				.actions {
					padding: 20px;
					
					.button {
						@include black-button;
						
						&[type="submit"] {
							float: right;
						}
					}
				}
			}
			
			.policies {
				margin-bottom: 20px;
				
				.textwidget {
					padding: 0;
					
					h2, h3 {
						margin: 0 0 10px 0;
					}
					
					p {
						margin-bottom: 10px;
						font-size: 14px;
					}
					
					ul {
						padding-left: 20px;
						margin: 0;
						
						li {
							list-style-type: square;
							font-size: 14px;
							margin-bottom: 10px;
						}
					}
				}
			}
			
			.cart-collaterals {
				
				.cart_totals {
					
					h2 {
						margin-top: 0;
					}
					
					.shop_table {
						border-radius: 0;
						
						.shipping {
							
							.woocommerce-shipping-calculator {
								display: none;
								
								.shipping-calculator-form {
									
									.button {
										@include black-button;
									}
								}
							}
						}
					}
				}
				
				.wc-proceed-to-checkout {
					text-align: right;
					padding-top: 30px;
					padding-bottom: 0;
					
					.button {
						@include black-button;
						display: inline-block;
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

.woocommerce-checkout {
	
	main {
		
		article {
			
			h1 {
				margin-top: 0;
			}
			
			.checkout { // form
				
				.col-1, .col-2 {
					width: 100%;
					display: block;
					
					@include desktop {
						width: 48%;
					}
				}
				
				.woocommerce-info, .woocommerce-message, .woocommerce-error {
					
					border-top-color: black;
					border: 1px solid black;
					border-top-width: 3px;
					
					&:before {
						color: black;
					}
				}
				
				#billing_company_field, #shipping_company_field {
					display: none;
				}
				
				
				.woocommerce-invalid {
					
					input.input-text {
						border-width: 1px;
					}
				}
				
				.woocommerce-validated {
					
					input.input-text {
						border-color: inherit;
					}
				}
				
				select, input, input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], .select2-container .select2-choice {
					@include form-input-style;
					height: 46px;
					padding-left: 9px;
					padding-right: 9px;
				}
				
				textarea {
					@include form-input-style;
				}
				
				input[type="checkbox"], input[type="radio"] {
					width: 20px;
					height: 20px;
					margin-left: 10px;
					vertical-align: middle;
					cursor: pointer;
				}
			}
		}
	}
	
	#payment {
		background-color: #f7f6f7;
		border-top-color: black;
		border: 1px solid black;
		border-top-width: 3px;
		border-radius: 0;
		
		ul.payment_methods {
			border: 0;
			border-bottom: 0;
			
			.payment_box {
				background: none;
				margin: 10px 0;
				padding: 0;
				font-size: 12px;
				
				&:before {
					content: none;
				}
			}
		}
		
		.place-order {
			padding-top: 0;
		}
		
		.button, input[type="submit"] {
			@include black-button;
			height: auto;
			
			&:hover {
				box-shadow: none;
			}
		}
	}
}

.woocommerce  {
	
	form {
		
		.form-row {
			
			.required {
				border: 0;
				text-decoration: none;
				font-size: 10px;
				margin: 0;
				vertical-align: super;
				color: #a00;
			}
		}
	}
}