footer {
	background: none;
	
	@include tablet {
		padding-bottom: 40px;
	}
	
	.widget-area {
		width: 100%;
		text-align: center;
		
		.site-footer .widget{
			display: inline-block;
			vertical-align: top;
			list-style: none;
			position: relative;
			padding: 0 18px 0 18px;
			margin: 0 0.5em  45px 0.5em;
			box-shadow: none;
			background: none;
			border: none;
		}
	}
}