.checkout {
	position: absolute;
	right: 20px;
	top: 25px;
	width: 200px;
	z-index: 999;
	
	@include mobile-only {
		display: none;
	}
	
	a {
		display: block;
		text-decoration: none;
		
		svg {
			display: block;
		}
		
		span {
			@include Montserrat;
			color: black;
			font-size: 22px;
			text-transform: uppercase;
		}
	}
}

.mobile-checkout {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 50px;
	z-index: 9999;
	
	@include tablet {
		display: none;
	}
	
	a {
		display: block;
		
		.count {
			position: absolute;
			top: 12px;
			left: 26px;
			color: black;
			font-size: 12px;
			font-weight: bold;
		}
	}
}

.main-navigation {
	
	@include tablet {
		margin-left: 200px;
		margin-right: 200px;
		width: auto;
	}
}