.jewelry-shop {
	
	ul.products {
		
		li.product {
			
			@include mobile-only {
				display: block;
				float: none;
				width: 100%;
			}
			
			a {
				
				img {
					margin: 0;
					border: 0;
				}
			}
			
			.add_to_cart_button {
				display: none;
			}
		}
	}
}
