.jewelry-shop {
	
	.product {
		
		.summary {
			text-align: left;
			margin: 0;
		}
		
		.price {
			
			.amount {	
				color: black;
			}
		}
		
		p.stock {
			color: black;
		}
		
		[itemprop="description"] {
			margin-bottom: 40px;
			
			p {
				margin-bottom: 10px;
			}
		}
		
		.product_meta {
			display: none;
		}
		
		.quantity {
			display: none;
		}
		
		button.button.alt.single_add_to_cart_button {
			background-color: black;
			color: #fff;
			font-size: 22px;
			display: block;
			padding: 20px 50px;
			border: 1px solid black;
			transition: all 250ms ease;
			
			&:hover {
				background-color: white;
				color: black;
			}
		}
	}
	
	.woocommerce-tabs { // hide review forms that are visible on some random product pages
		display: none;
	}
}
