.jewelry-shop {
	
	.woocommerce-breadcrumb {
		display: none;
	}
	
	.above-shop-section {
		
		.product-categories {
			padding-left: 0;
			text-align: center;
			margin: 0 0 20px 0;
			
			li {
				display: inline-block;
				margin: 0 20px;
			}
		}
	}
}