// Global re-useable mixin blocks

$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 992px;
$desktop-large-width: 1200px;

@mixin mobile-only {
	@media (max-width: #{$mobile-width}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$tablet-width}) {
		@content;
	}
}

@mixin tablet-only {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

@mixin desktop-large {
	@media (min-width: #{$desktop-large-width}) {
		@content;
	}
}

@mixin Montserrat {
	font-family: 'Montserrat', sans-serif;
}

@mixin black-button {
	background-color: black;
	color: #fff;
	font-size: 22px;
	display: block;
	padding: 20px 50px;
	border: 1px solid black;
	transition: all 250ms ease;
	text-align: center;
	
	&:hover {
		background-color: white;
		color: black;
	}
}